$color-primary: #653f1c;

//header

//nav
$color-header-nav: 8vh;
$color-header-nav-background: #eeeff3;

//heading font
$heading-font-family: "Pacifico", cursive;

//heading-secondary font
$heading-secondary-font-family: "Paytone One", sans-serif;

//paragrapy font
$paragraph-font-family: "Poiret One", cursive;

//pet shop color
$color-shop: #ff642d;
$shop-font-family: "Dosis", sans-serif;

//dog font
$dog-font-family: "Fredoka One", cursive;

//background color
$color-bg: #f3f3f5;

//customer-review-font
$customer-font-family: "Mulish", sans-serif;
$customer-paragraph-font-family: "Marvel", sans-serif;

//input placeholder color
$color-placeholder: #887463;

// Photo Slider

$slider-bg-color: #9e9e9e !default;
$slider-bg-color-light: #e0e0e0 !default;
$slider-indicator-color: #4caf50 !default;
