$color-primary: #653f1c;

//header

//nav
$color-header-nav: 8vh;
$color-header-nav-background: #eeeff3;

//heading font
$heading-font-family: "Pacifico", cursive;

//heading-secondary font
$heading-secondary-font-family: "Paytone One", sans-serif;

//paragrapy font
$paragraph-font-family: "Poiret One", cursive;
